.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 300%;
  position: absolute;
  width: 100%;
  height: 100%;
  top: -15%;
}

.content-wrapper {
  font-size: 120%;
  position: relative;
  top: 10vh;
}

.btn-green,
.btn-red {
  border: none;
  outline: none;
  cursor: pointer;
  padding: 10px 24px;
  font-size: 24px;
  position: relative;
  top: 20vh;
  margin-right: 5px;
  background-color: green;
  border-radius: 100px;
  color: white;
}
.btn-red {
  background-color: red;
  margin-right: 24px;
}

.btn-green:disabled,
.btn-red:disabled {
  opacity: 0.5;
  cursor: default;
}
